@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */

:root {
  --primary-color: #2e483a;
  --success-color: #2e483a;
  --text-light: #f6f3ed;
}

.text-light {
  color: var(--text-light);
}

.bg-primary {
  background-color: var(--primary-color)!important;
}

.btn-success {
  background-color: var(--success-color);
  border-color: var(--success-color);
  color: var(--text-light);
}
.border-primary {
  border-color: var(--primary-color) !important;
}

.blockquote-footer {
  color: var(--text-light);
}
.accordion-item,
.accordion-button {
  background-color: transparent;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: inherit;
}

body {
  font-family: "Sarala", sans-serif;
  background-color: #F6F3ED;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

figcaption {
  padding-top: 0 !important;
}
#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta):not(#faq):not(#testimonial){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta):not(#faq):not(#testimonial){
    padding: 80px 0;
  }
}